.Profile
  display: flex
  flex-direction: column
  background: rgb(144,149,0)
  background: radial-gradient(circle, #909504 -114%, #62AA01 -97%, #B5AC5F 86%)
  background-position: bottom 300px right 320px
  flex-grow: 1
  border-left: 1px solid #dfe1e5

.Profile-header
  background-color: white
  display: flex
  justify-content: space-between
  gap: 10px
  align-items: baseline
  font-size: 24px
  font-weight: 600
  min-height: 46px
  padding: 4px 4px 4px 8px
  border-bottom: 1px solid #dfe1e5

.Profile-main
  padding: 1%
  box-sizing: border-box
  display: flex
  flex-grow: 1
  .css-ahj2mt-MuiTypography-root
    color: white

.Profile-info
  width: 100%
  justify-content: center
  &-content
    display: flex
    height: 100%
    flex-direction: column
    align-items: center
    background: white
    border-radius: 25px

.Profile-avatar
  margin-top: 5%
  height: 200px
  width: 200px

.Profile-inputs
  margin-top: 10%
  display: flex
  flex-direction: column
  gap: 19px
  width: 67%

.Profile-header-left
  display: flex
  align-items: baseline
  p
    text-align: center
    font-size: 1.5rem
    line-height: 1
    margin: 0
    padding: 0.5rem

.Btn-sidebar-close
  display: none
  color: #707579
  text-align: center
  font-size: 1.5rem
  line-height: 1
  border-radius: 50%
  background-color: transparent
  padding: 0.5rem
  transition: all .2s ease-in-out
  cursor: pointer
  &:hover
    background-color: rgba(112, 117, 121, 0.08)

@media screen and ( max-width: 650px  )
  .Btn-sidebar-close
    display: block