h1
  text-align: center

.Register-inputs
  display: flex
  flex-direction: column
  margin: 0 auto
  padding: 20px 0
  gap: 10px

.Result
  height: 45px
  margin: 0 auto
  text-align: center
  .Error
    color: red
  .Succeed
    color: green
